<ul>
    <div data-ng-repeat="category in deviceCategories">
        <li>
            <span class="deviceListHeader">{{ category.name }}</span>
            <hr />
        </li>
        <li class="hoverable" data-ng-repeat="i in category.devices">
            <a href="#/device/{{i}}">
                <img class="deviceImage" src="img/success.png" ng-click="document.location.href='#/device/{{i}}'"/>
                <span class="deviceListName">{{ devices[i].DisplayName }}</span>
                <span class="deviceStatus">{{ getStatus(devices[i]) }}</span>
            </a>
            <hr />
        </li>
    </div>
</ul>